mixin logo()
  .logo 
    .logo__item.footer__logo-item
      .logo__image
        include ../../assets/icons/logo.svg
      .words.word-1.footer-words
        span.logo__text.footer__text b
        span.logo__text.footer__text e

      .words.word-2.footer-words
        span.logo__text.footer__text p
        span.logo__text.footer__text r
        span.logo__text.footer__text o
        span.logo__text.footer__text d
        span.logo__text.footer__text u
        span.logo__text.footer__text c
        span.logo__text.footer__text t
        span.logo__text.footer__text i
        span.logo__text.footer__text v
        span.logo__text.footer__text e
