mixin stars()
  .stars
    label(for="1") 
      include ../../assets/icons/star.svg
    input#1(class="star__input" type="radio" name="rating")
    label(for="2")
      include ../../assets/icons/star.svg
    input#2(class="star__input" type="radio" name="rating")
    label(for="3") 
      include ../../assets/icons/star.svg
    input#3(class="star__input" type="radio" name="rating")
    label(for="4")
      include ../../assets/icons/star.svg 
    input#4(class="star__input" type="radio" name="rating")
    label(for="5")
      include ../../assets/icons/star.svg
    input#5(class="star__input" type="radio" name="rating")



