mixin banner()
  section.banner 
    .wrapper.banner__wrapper
      .banner__info
        h1.banner__title Easy way to manage your productivity
        span.banner__subtitle Prioritize effectively, collaborate seamlessly
        | and stay healthy with just one app
        .banner__button
          +button({
            type: 'button',
            text: 'Download',
            toolTip: 'Push for Download',
            })
      .banner__image-block       
        .banner__background
          img(class="banner__backround" src="../assets/images/background.svg" alt="background")
        .banner__mobile 
          include ../../assets/images/mobile.svg
        .banner__image 
          include ../../assets/images/boy-and-coffee.svg
    .banner__metrics 
      ul.banner__list 
        li.banner__item 
          p.banner__item__title 5000+
          p.banner__item__subtitle Downloads
        li.banner__item 
          p.banner__item__title 2500
          p.banner__item__subtitle Stars-Ranked in AppStore
        li.banner__item 
          p.banner__item__title 3400
          p.banner__item__subtitle Dedicated Members
        li.banner__item 
          p.banner__item__title 10
          p.banner__item__subtitle Awards Won



