mixin keep()
  section.keep 
    .keep__wrapper
      .keep__block
        .keep__subtitle Life should not be chaos
        .keep__title Keep it all together with Be Productive
        .keep__buttons
          button.button.keep__button Download for free 
