mixin navigation()
  nav.navigation#js-header-navigation
    .navigation__wrapper 
      ul.navigation__list
        li.navigation__item 
          a(href="index.html").navigation__link Home
        li.navigation__item 
          a(href="#feature").navigation__link Features
        li.navigation__item 
          a(href="#about-us").navigation__link How it works
        li.navigation__item 
          a(href="#contact-us").navigation__link Contact Us
        li.navigation__item 
          a(href="#").navigation__link FAQ      



    