mixin questions()
  section.questions 
    .wrapper.questions__wrapper 
      h1.questions__title Frequently Asked Questions
      .questions__acordion 
        .accordion 
          .accordion__item.accordion__item_show
            .accordion__header Lorem ipsum dolor sit amet, consectetur adipiscing elit.? 
            .accordion__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim lorem hac a ultricies. Id ornare turpis vulputate enim sed magna sit. A id cursus dolor urna. Aliquam diam integer vitae eget.  
          .accordion__item.accordion__item_show
            .accordion__header Lorem ipsum dolor sit amet, consectetur adipiscing elit.? 
            .accordion__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim lorem hac a ultricies. Id ornare turpis vulputate enim sed magna sit. A id cursus dolor urna. Aliquam diam integer vitae eget.   
          .accordion__item.accordion__item_show
            .accordion__header Lorem ipsum dolor sit amet, consectetur adipiscing elit.? 
            .accordion__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim lorem hac a ultricies. Id ornare turpis vulputate enim sed magna sit. A id cursus dolor urna. Aliquam diam integer vitae eget.   
          .accordion__item.accordion__item_show
            .accordion__header Lorem ipsum dolor sit amet, consectetur adipiscing elit.? 
            .accordion__body Lo ipsum dolor sit amet, consectetur adipiscing elit. Enim lorem hac a ultricies. Id ornare turpis vulputate enim sed magna sit. A id cursus dolor urna. Aliquam diam integer vitae eget.   
          .accordion__item.accordion__item_show
            .accordion__header Lorem ipsum dolor sit amet, consectetur adipiscing elit.? 
            .accordion__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim lorem hac a ultricies. Id ornare turpis vulputate enim sed magna sit. A id cursus dolor urna. Aliquam diam integer vitae eget.  
        .questions__image 
          img(src="../assets/images/group4.svg", alt="girl")
      
